/* css/style.css */
body {
    margin: 0;
    padding: 0;
    background: #013452;
    color: rgb(187, 181, 181);
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > header {
    height: 70px;
    background: #011825;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

body > footer {
    background: #011825;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
}

body > header nav a {
    color: #fff;
    padding: 0 0 5px 0;
    text-decoration: none;
}

body > header nav a:visited {
    color: gray;
}

body > header nav a:hover {
    color: rgb(54, 9, 218);
    border-bottom: 3px solid rgb(11, 156, 182);
}

body > header nav a.active {
    color: rgb(54, 9, 218);
    border-bottom: 3px outset rgb(11, 156, 182);
}

.logotipo {
    width: 277px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.logotipo img {
    width: 45px;
    height: 45px;
}

.logotipo h1 {
    margin: 9px 0 0 0;
}

.logotipo h1 span.if {
    color: rgb(117, 184, 17);
}

body > main {
    min-height: calc(100vh - 307px);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

body > div h1, h3 {
    margin-left: 25px;
}

body > div h1 {
    padding-top: 10px;
}

body > div h3 {
    padding-top: 5px;
}

body > div p {
    margin-left: 10px;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: #aaaaaa;
    opacity: 1;
}

input {
    width: 500px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #333333;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
}

form > button {
    background-color: #013452;
    border: none;
    cursor: pointer;
    padding: 0;
}

form > button img {
    width: 50px;
    height: 50px;
    background-color: #013452;
    
}

form > button:hover, form > button:active {
    border: 2px solid #ffffff;
    border-radius: 50%;
}

div#busca {
    display: flex;
    justify-content: center;
}

div#resultado{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.game {
    height: 250px;
    width: 250px;
    margin: 20px;
    border: solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    flex-direction: column;
}

.game > img {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    border: solid black;
}

.game > a {
    align-self: center;
    font-size: 15px;
    margin-left: 25px;
}

.gametype {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gametype > button{
    width: 100px;
    height: 50px;
    background-color: #2c5d5f;
    border: 1px solid #2A8387;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
}

.gametype > button:hover {
  background-color: #194849;
}

.gametype > button:active {
    background-color: #083b3d;
}

div#mainindex {
    min-height: calc(100vh - 214px);
}

div#mainsearch {
    min-height: calc(100vh - 190px);
}

div#mainwish {
    min-height: calc(100vh - 190px);
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

div#mainlibrary {
    min-height: calc(100vh - 190px);
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.modal {
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #013452;;
    margin: auto;
    padding: 20px;
    border: 5px solid #020202;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}